
.login-form {
    max-width: 300px;
    alignment: center;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
.content {
    top:45%;
    left:50%;
    position:absolute;
    margin-top:-121px;
    margin-left:-150px;
}